In [1]:
import numpy as np
import pandas as pd

In [4]:
from numpy.random import randn

In [9]:
arr =randn(3,3)

In [10]:
arr

array([[ 0.09736735,  1.38521564,  0.77112713],
       [-1.77440253,  0.51376902,  0.83959818],
       [-0.65314473,  0.30498713,  0.04183972]])

In [14]:
df = pd.DataFrame(arr,["insan","bitki","hayvan"])

In [15]:
df

               0         1         2
insan   0.097367  1.385216  0.771127
bitki  -1.774403  0.513769  0.839598
hayvan -0.653145  0.304987  0.041840

In [16]:
df.columns=["Covid-19","HIV","Verem"]

In [17]:
df

        Covid-19       HIV     Verem
insan   0.097367  1.385216  0.771127
bitki  -1.774403  0.513769  0.839598
hayvan -0.653145  0.304987  0.041840

In [18]:
df["Verem"]

insan     0.771127
bitki     0.839598
hayvan    0.041840
Name: Verem, dtype: float64

In [22]:
df.loc["insan"]

Covid-19    0.097367
HIV         1.385216
Verem       0.771127
Name: insan, dtype: float64

In [23]:
df["HIV"]

insan     1.385216
bitki     0.513769
hayvan    0.304987
Name: HIV, dtype: float64

In [25]:
df[["HIV","Covid-19"]]

             HIV  Covid-19
insan   1.385216  0.097367
bitki   0.513769 -1.774403
hayvan  0.304987 -0.653145

In [27]:
df["Hepatit-A"] = pd.Series(randn(3),["insan","bitki","hayvan"])

In [28]:
df

        Covid-19       HIV     Verem  Hepatit-A
insan   0.097367  1.385216  0.771127  -0.022083
bitki  -1.774403  0.513769  0.839598   1.234667
hayvan -0.653145  0.304987  0.041840   0.833850

In [29]:
df["Toplam"] = df["HIV"] + df["Verem"]

In [30]:
df

        Covid-19       HIV     Verem  Hepatit-A    Toplam
insan   0.097367  1.385216  0.771127  -0.022083  2.156343
bitki  -1.774403  0.513769  0.839598   1.234667  1.353367
hayvan -0.653145  0.304987  0.041840   0.833850  0.346827

In [31]:
df.drop("hayvan")

       Covid-19       HIV     Verem  Hepatit-A    Toplam
insan  0.097367  1.385216  0.771127  -0.022083  2.156343
bitki -1.774403  0.513769  0.839598   1.234667  1.353367

In [32]:
df

        Covid-19       HIV     Verem  Hepatit-A    Toplam
insan   0.097367  1.385216  0.771127  -0.022083  2.156343
bitki  -1.774403  0.513769  0.839598   1.234667  1.353367
hayvan -0.653145  0.304987  0.041840   0.833850  0.346827

In [38]:
df

        Covid-19       HIV     Verem  Hepatit-A
insan   0.097367  1.385216  0.771127  -0.022083
bitki  -1.774403  0.513769  0.839598   1.234667
hayvan -0.653145  0.304987  0.041840   0.833850

In [47]:
df.iloc[2]

Covid-19    -0.653145
HIV          0.304987
Verem        0.041840
Hepatit-A    0.833850
Name: hayvan, dtype: float64

In [48]:
df.loc["hayvan","HIV"]

0.30498712517465354

In [54]:
df

        Covid-19       HIV     Verem  Hepatit-A
insan   0.097367  1.385216  0.771127  -0.022083
bitki  -1.774403  0.513769  0.839598   1.234667
hayvan -0.653145  0.304987  0.041840   0.833850

In [55]:
arr2 = randn(3,2)

In [56]:
arr2

array([[-0.61360504, -0.38729827],
       [-0.25682139,  1.41376235],
       [-0.26191671,  0.65427537]])

In [57]:
df2 = pd.DataFrame(arr2,["insan","bitki","hayvan"],columns=["Hepatit-B","Hepatit-C"])

In [58]:
df2

        Hepatit-B  Hepatit-C
insan   -0.613605  -0.387298
bitki   -0.256821   1.413762
hayvan  -0.261917   0.654275

In [68]:
total_df = df.append(df2,ignore_index=False)

In [69]:
total_df

        Covid-19       HIV     Verem  Hepatit-A  Hepatit-B  Hepatit-C
insan   0.097367  1.385216  0.771127  -0.022083        NaN        NaN
bitki  -1.774403  0.513769  0.839598   1.234667        NaN        NaN
hayvan -0.653145  0.304987  0.041840   0.833850        NaN        NaN
insan        NaN       NaN       NaN        NaN  -0.613605  -0.387298
bitki        NaN       NaN       NaN        NaN  -0.256821   1.413762
hayvan       NaN       NaN       NaN        NaN  -0.261917   0.654275

In [70]:
frames = [df,df2]

In [74]:
pd.concat(frames,axis=1,join='inner')

        Covid-19       HIV     Verem  Hepatit-A  Hepatit-B  Hepatit-C
insan   0.097367  1.385216  0.771127  -0.022083  -0.613605  -0.387298
bitki  -1.774403  0.513769  0.839598   1.234667  -0.256821   1.413762
hayvan -0.653145  0.304987  0.041840   0.833850  -0.261917   0.654275

In [75]:
df

        Covid-19       HIV     Verem  Hepatit-A
insan   0.097367  1.385216  0.771127  -0.022083
bitki  -1.774403  0.513769  0.839598   1.234667
hayvan -0.653145  0.304987  0.041840   0.833850

In [76]:
df2

        Hepatit-B  Hepatit-C
insan   -0.613605  -0.387298
bitki   -0.256821   1.413762
hayvan  -0.261917   0.654275

In [80]:
total_df=pd.concat(frames,axis=1,join='outer')

In [81]:
total_df

        Covid-19       HIV     Verem  Hepatit-A  Hepatit-B  Hepatit-C
insan   0.097367  1.385216  0.771127  -0.022083  -0.613605  -0.387298
bitki  -1.774403  0.513769  0.839598   1.234667  -0.256821   1.413762
hayvan -0.653145  0.304987  0.041840   0.833850  -0.261917   0.654275

In [83]:
total_df.loc["hayvan","Hepatit-C"]

0.6542753656969322