In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = {
        "Departman":["Bilişim","İnsan Kaynakları","Üretim","Üretim","Bilişim","İnsan Kaynakları"],
        "Çalışan": ["Mustafa","Jale","Kadir","Zeynep","Murat","Ahmet"],
        "Maaş":[3000,3500,2500,4500,4000,2000]
        }

In [3]:
dataset

{'Departman': ['Bilişim',
  'İnsan Kaynakları',
  'Üretim',
  'Üretim',
  'Bilişim',
  'İnsan Kaynakları'],
 'Çalışan': ['Mustafa', 'Jale', 'Kadir', 'Zeynep', 'Murat', 'Ahmet'],
 'Maaş': [3000, 3500, 2500, 4500, 4000, 2000]}

In [7]:
df = pd.DataFrame(dataset,index=["1.Çalışan","2.Çalışan","3.Çalışan","4.Çalışan","5.Çalışan","6.Çalışan"])

In [8]:
df

                  Departman  Çalışan  Maaş
1.Çalışan           Bilişim  Mustafa  3000
2.Çalışan  İnsan Kaynakları     Jale  3500
3.Çalışan            Üretim    Kadir  2500
4.Çalışan            Üretim   Zeynep  4500
5.Çalışan           Bilişim    Murat  4000
6.Çalışan  İnsan Kaynakları    Ahmet  2000

In [10]:
DepGroup = df.groupby("Departman")

In [11]:
DepGroup

In [12]:
DepGroup.sum()

                  Maaş
Departman
Bilişim           7000
Üretim            7000
İnsan Kaynakları  5500

In [13]:
NameGroup = df.groupby("Çalışan")

In [14]:
NameGroup

In [17]:
NameGroup.size()

Çalışan
Ahmet      1
Jale       1
Kadir      1
Murat      1
Mustafa    1
Zeynep     1
dtype: int64

In [ ]:
""