In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
outerIndex = ["Group1","Group1","Group1","Group2","Group2","Group2","Group3","Group3","Group3"]

In [3]:
innerIndex = ["Index1","Index2","Index3","Index1","Index2","Index3","Index1","Index2","Index3"]

In [4]:
zip(outerIndex,innerIndex)

In [5]:
list(zip(outerIndex,innerIndex))

[('Group1', 'Index1'),
 ('Group1', 'Index2'),
 ('Group1', 'Index3'),
 ('Group2', 'Index1'),
 ('Group2', 'Index2'),
 ('Group2', 'Index3'),
 ('Group3', 'Index1'),
 ('Group3', 'Index2'),
 ('Group3', 'Index3')]

In [8]:
hierarchy = list(zip(outerIndex,innerIndex))
hierarchy = pd.MultiIndex.from_tuples(hierarchy)

In [9]:
hierarchy

MultiIndex([('Group1', 'Index1'),
            ('Group1', 'Index2'),
            ('Group1', 'Index3'),
            ('Group2', 'Index1'),
            ('Group2', 'Index2'),
            ('Group2', 'Index3'),
            ('Group3', 'Index1'),
            ('Group3', 'Index2'),
            ('Group3', 'Index3')],
           )

In [10]:
df = pd.DataFrame(randn(9,3),hierarchy,columns = ["A","B","C"])

In [11]:
df

                      A         B         C
Group1 Index1 -0.122948  0.057406  0.016133
       Index2 -0.264481 -0.792412  0.895151
       Index3 -0.840754 -1.183212  0.467058
Group2 Index1  0.685960 -0.646184 -0.352933
       Index2  1.215010  0.625562  0.059852
       Index3  1.558769 -2.401123 -1.032602
Group3 Index1 -0.465321 -0.128916 -1.779754
       Index2 -0.619842  2.462515  0.897567
       Index3  1.314401 -1.040732 -0.700232

In [13]:
df["A"]

Group1  Index1   -0.122948
        Index2   -0.264481
        Index3   -0.840754
Group2  Index1    0.685960
        Index2    1.215010
        Index3    1.558769
Group3  Index1   -0.465321
        Index2   -0.619842
        Index3    1.314401
Name: A, dtype: float64

In [15]:
df.loc["Group1"]

               A         B         C
Index1 -0.122948  0.057406  0.016133
Index2 -0.264481 -0.792412  0.895151
Index3 -0.840754 -1.183212  0.467058

In [16]:
df.loc[["Group1","Group2"]]

                      A         B         C
Group1 Index1 -0.122948  0.057406  0.016133
       Index2 -0.264481 -0.792412  0.895151
       Index3 -0.840754 -1.183212  0.467058
Group2 Index1  0.685960 -0.646184 -0.352933
       Index2  1.215010  0.625562  0.059852
       Index3  1.558769 -2.401123 -1.032602

In [19]:
df.index.names = ["Groups","Indexes"]

In [20]:
df

                       A         B         C
Groups Indexes
Group1 Index1  -0.122948  0.057406  0.016133
       Index2  -0.264481 -0.792412  0.895151
       Index3  -0.840754 -1.183212  0.467058
Group2 Index1   0.685960 -0.646184 -0.352933
       Index2   1.215010  0.625562  0.059852
       Index3   1.558769 -2.401123 -1.032602
Group3 Index1  -0.465321 -0.128916 -1.779754
       Index2  -0.619842  2.462515  0.897567
       Index3   1.314401 -1.040732 -0.700232

In [23]:
df.columns.name = "Columns"

In [24]:
df

Columns                A         B         C
Groups Indexes
Group1 Index1  -0.122948  0.057406  0.016133
       Index2  -0.264481 -0.792412  0.895151
       Index3  -0.840754 -1.183212  0.467058
Group2 Index1   0.685960 -0.646184 -0.352933
       Index2   1.215010  0.625562  0.059852
       Index3   1.558769 -2.401123 -1.032602
Group3 Index1  -0.465321 -0.128916 -1.779754
       Index2  -0.619842  2.462515  0.897567
       Index3   1.314401 -1.040732 -0.700232

In [30]:
df.columns.names = ["Columnss"]

In [31]:
df

Columnss               A         B         C
Groups Indexes
Group1 Index1  -0.122948  0.057406  0.016133
       Index2  -0.264481 -0.792412  0.895151
       Index3  -0.840754 -1.183212  0.467058
Group2 Index1   0.685960 -0.646184 -0.352933
       Index2   1.215010  0.625562  0.059852
       Index3   1.558769 -2.401123 -1.032602
Group3 Index1  -0.465321 -0.128916 -1.779754
       Index2  -0.619842  2.462515  0.897567
       Index3   1.314401 -1.040732 -0.700232

In [33]:
df.loc["Group1"].loc["Index2"]["B"]

-0.7924122429636412

In [35]:
df.xs("Group1")

Columnss         A         B         C
Indexes
Index1   -0.122948  0.057406  0.016133
Index2   -0.264481 -0.792412  0.895151
Index3   -0.840754 -1.183212  0.467058

In [37]:
df.xs("Group2").xs("Index2")

Columnss
A    1.215010
B    0.625562
C    0.059852
Name: Index2, dtype: float64

In [39]:
df.xs("Index1",level="Indexes")

Columnss         A         B         C
Groups
Group1   -0.122948  0.057406  0.016133
Group2    0.685960 -0.646184 -0.352933
Group3   -0.465321 -0.128916 -1.779754

In [41]:
df.xs("Index2",level="Indexes")

Columnss         A         B         C
Groups
Group1   -0.264481 -0.792412  0.895151
Group2    1.215010  0.625562  0.059852
Group3   -0.619842  2.462515  0.897567

In [42]:
df

Columnss               A         B         C
Groups Indexes
Group1 Index1  -0.122948  0.057406  0.016133
       Index2  -0.264481 -0.792412  0.895151
       Index3  -0.840754 -1.183212  0.467058
Group2 Index1   0.685960 -0.646184 -0.352933
       Index2   1.215010  0.625562  0.059852
       Index3   1.558769 -2.401123 -1.032602
Group3 Index1  -0.465321 -0.128916 -1.779754
       Index2  -0.619842  2.462515  0.897567
       Index3   1.314401 -1.040732 -0.700232

In [43]:
df.xs("Group2",level="Groups")

Columnss         A         B         C
Indexes
Index1    0.685960 -0.646184 -0.352933
Index2    1.215010  0.625562  0.059852
Index3    1.558769 -2.401123 -1.032602